@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: light) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.slick-prev {
	left: 40px !important;
	scale: 1.5;
}

.slick-next {
	right: 40px !important;
	scale: 1.5;
}

.tr {
	transition: 0.4s;
}

.custom-modal .ant-modal {
	border-radius: 0 !important;
}

.custom-modal .ant-modal-content {
	border-radius: 0 !important;
}
